/* style.css */
body {
    background-image: url("https://i.ibb.co/rpMtKCZ/luffy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    top: auto;
}

.segitiga {
    position: absolute;
    left: 10%;
    border: 2px solid rgb(192, 169, 169);
    display: inline-block;
    background-color: #ddd;
}

.segitiga img {
    width: 500px;
    height: 400px;
}

.container {
    text-align: left;
    margin-left: 100px;
}

#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav-button {
    align-items: inherit;
    width: 220px;
    position: relative;
    z-index: 0;
}

input {
    padding: 8px;
    margin: 8px;
    width: 110%;
    box-sizing: border-box;
    outline: none;
    border-radius: 7px;
}

#result {
    margin-top: 20px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
}

#alert {
    margin-top: 30px;
    position: absolute;
    top: 100%;
    width: fit-content;
    white-space: nowrap;
}

.input-ukuran {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
}

.button-calculate {
    display: flex;
    gap: 20px;
    width: auto;
    margin-top: 30px;
}

#display {
    width: 275px;
    height: auto;
    align-items: center;
    padding: 10px;
    font-size: 18px;
}

#lebar, #labelLebar{
    display: none;
}

button {
    width: 60px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    color: #eee;
    background-color: #333;
}

footer {
    background: radial-gradient(circle, white, black); /* Gradien radial */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

footer img {
    width: 25px; 
    height: 25px;
    margin-bottom: -5px;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("https://w0.peakpx.com/wallpaper/82/215/HD-wallpaper-cartoon-dark-black-simple.jpg");
    }

    .container {
        margin-left: 20px;
    }

    #container {
        max-width: 100%;
    }

    .segitiga {
        left: auto;
        top: 0%;
    }

    .segitiga img {
        width: 150px;
        height: 100px;
    }

    .button {
        font-size: 13px;
        width: 100%;
    }

    #result {
        margin-top: 30px;
        font-size: 14px;
    }

    #alert {
        margin-top: 30px;
        font-size: 14px;
        width: fit-content;
        white-space: nowrap;
        transform: translate(0%, -50%);
    }
}